*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite ;
}
.sky{
    height: 50vw;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    top: -144px;
}

.track{
    position: absolute;
    height: 40vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    top: 70vh;
    animation: trackmove linear 6s infinite ;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 444px;
    bottom: 32vh;
    position: absolute;
    animation: shake linear .3s infinite ;
}


.wheel1 img {
    width: 72px;
    position: relative;
    top: 41px;
    left: 45px;
    animation: wheelRotater linear .16s infinite ;
}


.wheel2 img{
    width: 73px;
    position: relative;
    top: -36px;
    left: 236px;
    animation: wheelRotater linear .16s infinite ;
}

@keyframes wheelRotater {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes trackmove {
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);
    }
}

@keyframes shakebody {
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}